.flex {
    display: flex;
    flex-wrap: wrap;
    line-height: 3rem;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}
.center {
    text-align: center;
}

.j-between {
    justify-content: space-between;
}
